.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 60px);
  /* Adjust height to account for header */
  padding: 20px;
  box-sizing: border-box;
  margin-top: 60px;
  /* Add margin to avoid touching the header */
}

.register {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
}

.register input,
.register textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}