.view-municipality-head {
  padding: 20px;
}

.view-municipality-head h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.head-details {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.head-details p {
  margin: 10px 0;
  font-size: 18px;
}
